@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.navTextColor {
  color: rgb(255, 255, 255);
}

.navTextColorBrand {
  color: rgb(92, 216, 216);
}
.navTextColor:hover {
  background: rgb(104, 158, 116);

  color: rgb(255, 255, 255);
  /* color: rgba(219, 43, 125, 1); */
  text-decoration: none;
}

.navConfigure {
  width: "100%";
  /* background: rgba(200, 15, 129, 0.9); */
  /* background: rgba(27, 18, 18, 0.9); */
  background: rgb(1, 63, 77);
}

.aboutPageGeneral {
  /* background: linear-gradient(90deg, rgb(206, 255, 244), rgb(206, 135, 42)); */
  background-size: cover;
  background-position: center;
}

.projectsPageGeneral {
  /* background: linear-gradient(90deg, rgb(255, 168, 168), rgb(185, 255, 234)); */
}

.contactsPageGeneral {
  /* background: linear-gradient(90deg, rgb(185, 255, 234), rgb(244, 255, 83)); */
}

.cornerBorder {
  border-radius: 15px 50px;
  background: rgba(50, 255, 50, 0.5);
  width: 700px;
  max-width: 90vw;
  text-align: justify;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.profilePicture {
  height: 250px;
  border: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.rotate90 {
  transform: rotate(270deg);
  transition: 0.5s ease;
  background: rgba(255, 254, 254, 0.705);
}
.rotate {
  transform: rotate(0deg);
  transition: 0.5s ease;
  background: rgba(50, 50, 50, 1);
}

.linkWithoutBlueLine:hover {
  text-decoration: none;
}
.linkWithoutBlueLine {
  text-decoration: none;
}

.rotate360 {
  animation: rotate360k 2s linear 0s infinite;
}
@keyframes rotate360k {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.initialize-navbar-toggle {
  display: none;
}
.show-navbar-toggle {
  animation: show-navbar-toggle-k 0.5s linear 0s 1;
}

@keyframes show-navbar-toggle-k {
  0% {
    transform: translate(+100%, -50%) scale(0.9) rotate3d(1, 0.3, 0, -90deg);
    opacity: 0.3;
  }
  20% {
    transform: translate(+50%, -40%) scale(0.9) rotate3d(1, 0.3, 0, -60deg);
    opacity: 0.5;
  }
  70% {
    transform: translate(+20%, -10%) scale(1) rotate3d(1, 0.3, 0, -30deg);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 0%) scale(1) rotate3d(0);
    opacity: 1;
  }
}
.toggle-item-1 {
  animation: toggle-item-k 1.25s ease 0s 1;
}
.toggle-item-2 {
  animation: toggle-item-k 1.5s ease 0s 1;
}
.toggle-item-3 {
  animation: toggle-item-k 1.75s ease 0s 1;
}
@keyframes toggle-item-k {
  0% {
    transform: translate(+100%, -20%) scale(0.5);
    opacity: 0;
  }
  40% {
    transform: translate(+100%, -20%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%) scale(1);
    opacity: 1;
  }
}

.hidden-navbar-toggle {
  display: none;
}

.hide-navbar-toggle {
  transform: translate(+100%, -20%);
  animation: hide-navbar-toggle-k 1s ease 0s 1;
}
@keyframes hide-navbar-toggle-k {
  0% {
    transform: translate(0%, 0%);
    display: block;
  }
  99% {
    transform: translate(+99%, -20%);
    display: block;
  }
  100% {
    transform: translate(+100%, -20%);
    display: none;
  }
}

.contant-me-button {
  transition: all ease 1s;
  /* box-shadow: 0px 0px 0px rgba(20, 255, 25, 0); */
}
.contant-me-button:hover {
  transition: all ease 0.5s;
  box-shadow: 0px 10px 10px rgba(20, 255, 25, 0.3);
}
.menu-line {
  transition: all ease 1s;
}
.menu-line-1 {
  width: 20px;
  height: 2px;
  background: rgba(158, 158, 158, 0.877);
  margin: 2px;
}
.menu-line-2 {
  width: 20px;
  height: 2px;
  background: rgba(158, 158, 158, 0.877);
  margin: 2px;
}
.menu-line-3 {
  width: 20px;
  height: 2px;
  background: rgba(158, 158, 158, 0.877);
  margin: 2px;
}

.show-menu-line-1 {
  width: 20px;
  height: 2px;
  background: rgba(248, 69, 69, 0.877);
  transform: rotate(45deg);
  position: absolute;
  margin: 2px;
}
.show-menu-line-2 {
  width: 0px;
  height: 2px;
  background: rgba(248, 69, 69, 0.877);
  position: absolute;
  margin: 2px;
}
.show-menu-line-3 {
  width: 20px;
  height: 2px;
  background: rgba(248, 69, 69, 0.877);
  transform: rotate(-45deg);
  position: absolute;
  margin: 2px;
}
